#navUl {
    margin-bottom: -35px;
}

.imgResize {
    width: 50px;
    height: 50px;
    padding: 10px;
}

#imgLogo {
    width: 150px;
    height: 150px;
}

#navUl li {
    padding: 0px 10px;
}

.stickyNav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}


/* Général */

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Yusei Magic", sans-serif;
    src: url(../font/YuseiMagic-Regular.ttf);
}

body {
    width: 100%;
    background: url("../img/plants-2589155_1920.jpg");
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}


/* Header */

header h1 {
    font-family: "Yusei Magic", sans-serif;
    text-align: center;
    font-size: 80px;
    color: #FAD2F9;
}


/* Nav */

nav {
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 5px 20px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: #17D82F;
    border-radius: 15px;
}

nav li a {
    color: blue;
    text-decoration: none;
}

nav li:hover {
    background-color: #D6DBDF;
    text-decoration: none;
    border-radius: 15px;
}


/* Main-Index */

.colPadding {
    padding-right: 0px !important;
    padding-left: 0px !important;
}

.main-index {
    background-color: #F3E1E7;
    padding: 25px;
    border-bottom: 5px solid black;
    border-top: 3px solid black;
}



/* Main-Avis */

.main-avis {
   background-color: #F3E1E7;
    border-bottom: 5px solid black;
    border-top: 3px solid black;
    width: 100%;
}

/* Produit */

.body-prod {
    background-color: #F3E1E7;
    border-bottom: 5px solid black;
    border-top: 3px solid black;
    background-size: cover;     
    font-family: Arial, Helvetica, sans-serif;
}

.bg-card{
    
    background-color:  #9EFF9E;
    font-family: "Yusei Magic", sans-serif;
}

.row-dist{
    margin-top : 10px;
    
}

.cont-pad{
    padding-top: 30px;
}
/* Main-Contact */

#main_contact {
    background-color: #f3e1e7;
    padding: 2em;
    border-bottom: 5px solid black;
    border-top: 3px solid black;
}

.header_contact {
    padding-left: 4em;
}

#main_contact > h1{
    padding-bottom: 1em;
}

.customer_service {
    padding-top: 5em;
}

.customer_service > p {
    padding-top: 5em;
}

/* Footer */

footer {
    background-color: #75F06F;
}
