#navUl {
    margin-bottom: -35px;
}

.imgResize {
    width: 50px;
    height: 50px;
}

#imgLogo {
    width: 150px;
    height: 150px;
}

#navUl li {
    padding: 0px 10px;
}

.stickyNav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
}


/* Général */

* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Yusei Magic", sans-serif;
    src: url(../font/YuseiMagic-Regular.ttf);
}

body {
    width: 100%;
    background: url("../img/plants-2589155_1920.jpg");
    background-repeat: no-repeat;
    font-family: Arial, Helvetica, sans-serif;
}


/* Header */

header h1 {
    font-family: "Yusei Magic", sans-serif;
    text-align: center;
    font-size: 80px;
    color: #FAD2F9;
}


/* Nav */

nav {
    text-align: center;
}

nav li {
    display: inline-block;
    margin: 5px 20px;
    padding: 5px;
    font-size: 20px;
    font-weight: bold;
    background-color: #9EFF9E;
    border-radius: 15px;
}

nav li a {
    color: blue;
    text-decoration: none;
}

nav li:hover {
    background-color: #FAD2F9;
    text-decoration: none;
    border-radius: 15px;
}


/* Main-Index */

.colPadding {
    padding-right: 0px;
    padding-left: 0px;
}

.main-index {
    background: url("../img/goldengate.jpg");
    background-repeat: no-repeat;
    padding: 75px;
    border-bottom: 5px solid pink;
    border-top: 5px solid pink;
}

/* Main-Contact */

#main_contact {
    background: url("");
    padding: 2em;
    border-bottom: 5px solid pink;
    border-top: 5px solid pink;
}

.header_contact {
    padding-left: 4em;
}

#main_contact > h1{
    padding-bottom: 1em;
}

.customer_service {
    padding-top: 5em;
}

.customer_service > p {
    padding-top: 5em;
}

/* Footer */

footer {
    background-color: #807a7a;
}


/* footer li {
    list-style: none;
}

.footer-hours {
    color: blue;
    text-align: center;
    font-size: 1.2em;
    padding-top: 25px;
} */